* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.seperator {
  width: 100%;
  height: 8px;
  background-color: rgb(48, 48, 48);
}

#section1 {
  background-image: url("images/10.jpg");
  background-size: cover;
}

#section1-header {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}

#section1-icon-text img {
  height: 80px;
}

#section1-ctrl {
  padding-top: 20px;
  display: flex;
}

#section1-dropdown-select {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
}

#section1-button {
  margin-left: 20px;
}

#section1-button button {
  color: white;
  background-color: red;
  font-size: 16px;
  padding: 6px 20px;
  outline: none;
  border-style: none;
  border-radius: 5px;
  transition-duration: 200ms;
  cursor: pointer;
}

#section1-button button:hover {
  background-color: rgb(189, 0, 0);
}

#section1-content {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 25px;
}

#section1-form {
  margin-top: 30px;
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

#section1-floating-label {
  position: absolute;
  top: 15px;
  left: 10px;
}

#section1-form-input {
  position: relative;
}

#section1-form-input div {
  transition-duration: 200ms;
  pointer-events: none;
}

#section1-form-input input {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px 10px 10px 10px;
  width: 400px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(67, 67, 67);
}

#section1-form-input:focus-within div {
  transform: translateY(-50%);
  font-size: 12px;
}

#section1-form-button {
  color: white;
  background-color: red;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  border-style: none;
  border-radius: 5px;
  padding: 2px 20px;
  transition-duration: 200ms;
}

#section1-form-button:hover {
  background-color: rgb(189, 0, 0);
}

#section2 {
  background-color: black;
  display: flex;
  color: white;
  padding: 40px 150px 100px 150px;
}

#section2-left {
  padding-top: 100px;
}

#section2-left h2 {
  font-size: 45px;
}

#section2-right {
  position: relative;
}

#section2-right-img {
  position: relative;
  z-index: 1000;
}

#section2-right-mediawrapper {
  position: absolute;
  top: 91px;
  left: 69px;
  z-index: 1;
}

#section3 {
  padding: 40px 150px 100px 150px;
  display: flex;
  background-color: black;
  color: white;
}

#section3 h2 {
  font-size: 45px;
}

#section3-right {
  padding-top: 100px;
}

#section3-left {
  position: relative;
}

#section3-left-card {
  position: absolute;
  display: flex;
  border-color: rgb(171, 171, 171);
  border-width: 2px;
  border-style: solid;
  background-color: black;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;
  top: 336px;
  left: 135px;
}

#section3-left-card img {
  height: 80px;
}

#section3-left-card-text {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 200px;
  justify-content: center;
}

#section3-left-card-text-text2 {
  color: rgb(69, 69, 255);
}

#section4 {
  padding: 40px 150px 100px 150px;
  display: flex;
  background-color: black;
  color: white;
}

#section4-left {
  padding-top: 100px;
}

#section4-left h2 {
  font-size: 45px;
}

#section4-right {
  position: relative;
}

#section4-right-img {
  position: relative;
  z-index: 1000;
}

#section4-right-mediawrapper {
  position: absolute;
  top: 35px;
  left: 121px;
}

#section4-right-mediawrapper video {
  height: 260px;
  width: 400px;
}

#section5 {
  padding: 40px 150px 100px 150px;
  display: flex;
  background-color: black;
  color: white;
}

#section5 h2 {
  font-size: 45px;
}

#section5-right {
  padding-top: 100px;
}

#section6 {
  padding: 40px 150px 100px 150px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

#section6 h2 {
  font-size: 45px;
  text-align: center;
}

#section6-FAQ {
  font-size: 24px;
}

#section6-FAQ-list {
  margin-top: 20px;
}

.section6-FAQ-listItem {
  margin-bottom: 8px;
}

.section6-FAQ-listItem-main {
  background-color: rgb(53, 53, 53);
  padding: 20px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  transition-duration: 200ms;
}

.section6-FAQ-listItem-main:hover {
  background-color: rgb(68, 68, 68);
}

.section6-FAQ-listItem-expanded {
  background-color: rgb(53, 53, 53);
  padding: 20px;
}

#section6-form {
  padding-top: 50px;
  padding-left: 148px;
  padding-right: 148px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section6 p {
  font-size: 22px;
  padding: 40px 150px 0px 150px;
  text-align: center;
}


#section6-form {
  margin-top: 10px;
  position: relative;
}

#section6-floating-label {
  position: absolute;
  top: 15px;
  left: 10px;
}

#section6-form-input {
  position: relative;
}

#section6-form-input div {
  transition-duration: 200ms;
  pointer-events: none;
}

#section6-form-input input {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px 10px 10px 10px;
  width: 400px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(67, 67, 67);
}

#section6-form-input:focus-within div {
  transform: translateY(-50%);
  font-size: 12px;
}

#section6-form-button {
  color: white;
  background-color: red;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition-duration: 200ms;
}

#section6-form-button:hover {
  background-color: rgb(189, 0, 0);
}

#section7 {
  padding: 60px 150px 40px 150px;
  background-color: black;
}

#section7 a {
  color: gray;
  padding-bottom: 15px;
  display: inline-block;
}

#section7-header {
  font-size: 18px;
  margin-bottom: 20px;
}

#section7-main {
  display: flex;
  justify-content: space-between;
}

.section7-col {
  display: flex;
  flex-direction: column;
}

#section7-dropdown-select {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
}

#section7-footer {
  padding-top: 20px;
  color: gray;
  padding-bottom: 50px;
}